go 1.22.5

use (
	./pkg/cameras
	./pkg/frameipc
	./pkg/mjpeg
	./pkg/restream
	./services/camera-web-api
	./services/camera-web-restream-enhancer-api
	./services/camera-web-restream-fsrcnn-api
	./services/camera-web-restreamer-api
	./services/ffmpeg-streamer
	./services/tcp-camera-backend
)
